/* ===== PROJECT PAGE ===== */

body {
    font-family: "Cousine", monospace;
}

.project-page {
    overflow-x: hidden;
    overflow-y: auto;
  }

.project {
    padding: 140px 80px 80px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  /* ===== HERO ===== */
  .project-hero {
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
  }
  
  .hero-left {
    width: 360px;
  }
  
  .hero-left h1 {
    font-size: 2.2rem;
  }
  
  .subtitle {
    font-size: 0.9rem;
    color: var(--muted);
  }
  
  .hero-right {
    flex: 1;
    font-size: 1.05rem;
    line-height: 1.6;
  }
  
  /* ===== MEDIA ===== */
  .project-media img {
    width: 100%;
    border: 1px solid var(--border);
    margin-bottom: 80px;
  }
  
  /* ===== CONTENT ===== */
  .project-content {
    display: flex;
    gap: 80px;
    margin-bottom: 120px;
  }
  
  .content-left {
    width: 320px;
    font-size: 0.95rem;
  }
  
  .content-right {
    flex: 1;
    font-size: 1.05rem;
    line-height: 1.7;
  }
  
  /* ===== GALLERY ===== */
  .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    margin-bottom: 120px;
  }
  
  
  .project-gallery img {
    width: 100%;
    /* border: 1px solid var(--border); */
  }
  
  /* ===== IMPACT ===== */
  .project-impact {
    max-width: 700px;
  }
  
  .project-impact ul {
    list-style: none;
    padding-left: 0;
  }
  
  .project-impact li {
    margin-bottom: 8px;
    font-size: 0.95rem;
  }

  img {
    margin-bottom: 40px;
  }
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer a {
    background-color: #F8F5F0;
    padding: 10px;
    border-radius: 1.5em;
  }

  /* ===== CASE STUDY SPREAD ===== */

.case-spread {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.spread-row {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
  align-items: center;
}

.spread-row.reverse {
  grid-template-columns: 1fr 1.2fr;
}

/* images */
.spread-images {
  display: flex;
  gap: 24px;
}

.spread-images img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 900px) {
  .spread-row,
  .spread-row.reverse {
    grid-template-columns: 1fr;
  }

  .spread-images {
    justify-content: center;
  }
}

.txtsides {
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.txtleft , .txtright {
  flex: 1;
}

.txtleft {
  margin-right: 60px;
}